// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-black-light: rgba(8,29,56,0.5);
$color-grey-extra-light: rgba(8,29,56,0.075);
$color-grey-light: rgba(8,29,56,0.12);
$color-grey-medium: rgba(8,29,56,0.5);
$color-grey-dark: rgba(8,29,56,0.8);
$tonic-color: #FF4F5E;
$low-tonic-color: rgb(252, 157, 166);
$main-color: #081D38;
$log-sucess: rgb(77, 212, 212);
$log-error: rgb(212, 212, 212);

// Fonts-family
$font-icons: 'Ionicons';
$font-basic: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-title: 'Inconsolata', monospace;

// Fonts-size
$font-thin : 100;
$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;